<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Daily Nutrition Log -->
  <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 150px;">
    <img
      src="assets/nutrilogs.png"
      alt="Daily Nutrition Log"
      style="width: 100%; height: auto; object-fit: contain; border-radius: 10px; border: 2px solid #ccc;"
    />
  </div>

  <!-- Weekly Nutrition Log -->
  <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <img
      src="assets/weekly_nutrition_log.png"
      alt="Weekly Nutrition Log"
      style="width: 100%; height: auto; object-fit: contain; border-radius: 10px; border: 2px solid #ccc;"
    />
  </div>
</ion-content>
